@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  max-width: 100%;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
}


::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar track (the part the thumb slides along) */
::-webkit-scrollbar-track {
  background: #415A77; /* Background color of the track */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #e0e1dd; /* Background color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D1B2A; /* Darker background color when hovered */
}

/* Add transition to the height property for smooth expansion/collapse */
.animated-list {
  overflow: hidden; /* Hide content that overflows */
  transition: height 0.3s ease; /* Adjust duration and timing */
}

.animated-list-enter {
  height: 0;
}

.animated-list-enter-active {
  height: auto;
}

.animated-list-exit {
  height: auto;
}

.animated-list-exit-active {
  height: 0;
}
.scrollable-table-container {
  height: 400px; /* Adjust as needed */
  overflow-y: auto;
  overflow-x: auto;
}
